extends layout

block content

  .upper
    .headshot
      img(src="./images/headshotv1.jfif")
    .aboutMe 
      h2 About Me
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ullamcorper massa, ac pretium nisl. Proin malesuada libero eleifend, posuere metus at, dapibus risus. Aliquam erat volutpat. Ut finibus, felis non aliquet tincidunt, justo dui luctus arcu, et porttitor metus nisi ac libero.
      p Nice to meet you! 

  .purpose
    h2 Purpose
    p Maecenas tempus mauris at iaculis viverra. Nam turpis metus, laoreet at felis ac, vehicula pellentesque metus.