extends layout

block content

  .upper
    .headshot
      img(src="./images/defaultProf.jpg")
    .aboutMe 
      h2 About Me
      p My name is Matthew O'Donnell, but most people call me Matt. I am a computer science student at UNC-Chapel Hill. I have some expereince in web development and am looking to expand my industry experience before graduation. I am very passionate about creating things that are as visually pleasing as they are high functioning.
      p Nice to meet you! 

  .purpose
    h2 Purpose
    p I created this web app to serve as both a sandbox for developing my skills and as a portfolio to showcase the projects I am most proud of to potential employers.