extends layout

block content

    .projWrapper
        .projContent
            table   
                tr
                    td 
                        a(role="button", class="btn btn-light", href="./sorting") Sorting
                    td 
                        p 2
                    td 
                        p 3
                tr
                    td 
                        p 4
                    td 
                        p 5
                    td 
                        p 6
        .controls
            table
                tr
                    td 
                        p <
                    td 
                        p >
                    