extends layout

block content

    .updatesContent
        .post
            p(headline) New Update
            p(date) 2/6/2020
            p(postContent) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum, purus at commodo ultrices, leo lacus faucibus turpis, in suscipit neque nisi vel nulla. Aliquam vestibulum semper scelerisque. Sed interdum nisl dui, sed congue elit molestie non. Praesent ultrices quam feugiat velit vestibulum, iaculis luctus erat ultricies.
