body {
  background-color: #f1faee;
}

a {
  color: #1d3557;
}

.navbar{
  background-color: #f1faee;
}

.navItems {
  margin-left: auto;
  margin-right: auto;
}

button{
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff !important;
  background-color: #1d3557 !important;
  border-color:  #457b9d !important;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f1faee;
}

footer{
  flex-shrink: 0;
  background-color: #f1faee;
  padding-left: 5%;
  padding-right: 5%;
}

footer .links{
  display: flex;
  align-items: center;
  min-width: auto;
}

footer .ul {
  float: right;
}


p{
  color: 2626262;
  flex-grow: 1;
}

.aboutMe{
  background-color: #f1faee;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5%;
  float: right;
}

.purpose{
  background-color: f1faee;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5%;
  float: left;
  width: 100%;
}

img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #e63946;
}

.headshot{
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  float: left;
}

.upper{
  display: flex;
  align-items: center;
  background-color: #1d3557;
  padding-bottom: 5%;
}



